// ### Importación de fuentes
@font-face {
    font-family: 'Italianno';
    src: url('../../assets_spa/fonts/Italianno-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets_spa/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// ### Variables de tipografía
$primaria: 'Lato', sans-serif;
$secundaria: 'Italianno', cursive;

// ### Colores
//   - principal: #7bd1d7
//   - negro: #e082a8
//   - fondo del body: #f8f8f8
$principal: #7bd1d7;
$negro: #e082a8;
$fondo: #f8f8f8;
// - Tipo de letra principal: *Lato (textos titulares y enlaces)*
// - Tipo de letra secundaria (manuscrita): *Italianno*