.boton{
    border-radius: 0%;
    border: 0px;
    background-color: rgb(83, 83, 255);
    color: white;
    text-decoration: underline;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.cuadrado{
    color: white;
    font-weight: bold;
    height: 140px;
    width: 140px;
    background-color: red;
    margin-top: 50px;
    margin-left: 100px;
    padding: 10px;
    transition: 2s;
}
.activar:hover{
    transition: 1s;
    padding: 15px;
}
.desactivar:hover{
    transition: 1s;
    padding: 15px;
}
    .cuadrado:target{
    transform: rotate(2turn);
}