body{
    font-family: sans-serif;
}

.container{
border-radius: 10px;
border: 2px;
margin:0 auto;
border-color: black;
width: 50%;
margin-inline: auto;
}
img{
 height: 15rem;
 width: 150 px;
}
img:first-of-type{
    float: right;
}
p:first{
    padding-bottom: 7px;
}