.container{
    background-color: rgb(125, 125, 125);
    padding: 10px;
    width: 95%;
    overflow: auto;
}
header{
    box-sizing: border-box;
    background-color: green;
    height: 150px;
    width: 100%;
    margin: 10px;
}
aside{
    box-sizing: border-box;
    background-color: yellow;
    width: 25% ;
    height: 620px; 
    float: left;
    margin: 10px;
}
div{
    background-color: red;
    height: 300px;
    width: 20%;
    float: left;
    margin: 20px;

}
footer{
background-color: blue;
float: left;
height: 300px;
width: 65%;
margin: 20px;
}
