@font-face {
    font-family: "Playfair";
    src: url(./Recursos/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(./Recursos/fonts/Raleway-Regular.ttf);
}
:root {
    --bs-blue: #037bc0;
    --bs-green: #8cbc00;
    --green-hover: #769c02;
}
html{
    font-size: 62.5%; /* 1rem */
}
body{
    font-family: "Raleway";
    font-size: 1.6rem;
    line-height: 2;
}
h1, h2, h3{
    font-family: "Playfair";
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/* Reescribimos los colores */
.text-primary{
    color: var(--bs-blue)!important;
}
.bg-primary{
    background-color: var(--bs-blue)!important;
}
.btn-success{
    background-color: var(--bs-green)!important;
}

/* Media querie */
@media screen and (min-width: 768px) {
    h1{
    font-size: 5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
.hero{
    background-image: url(../TiendaMuebleBS/Recursos/img/categoria1.jpg);
    background-position: center center;
    background-size: cover;
    height: 55rem;
}  
.zoom{
    transition: transform 0.4s;
}
.zoom:hover{
    transform: scale(1.1);
} 
.btn-hover{
    transition: background-color(0.3s);

}
.btn-hover:hover{
    background-color: var(--green-hover);
}
}
