*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.card_container{
    margin: 100px auto;
    width: 80%;
    max-width: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.card__figure{
    width: 100%;
    height: 100px;
}
/* Para hacer imagen responsive */
.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card__btn{
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
}
.card{
    grid-row: 1/5;
    display: grid;
    /* grid-auto-rows: max-content; */
    /* gap: 1rem; */

    grid-template-rows: subgrid;
}