*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.container{
    outline: 2px dashed black;
    margin: 50px;
    height: 500px;
    width: 90%;
    max-width: 800px;
    /* Aplica grid */
    display: grid;
    /* display: inline-grid */
    /*1.Crear cuadricula grid: */
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4, 200px); */
    /* grid-template-rows: 150px 150px 150px; */
    /* grid-template-rows: repeat(3, 150px); */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr) ;
    gap: 30px;
    /* row-gap: ; */
    /* column-gap: ; */
    /* grid: filas / columnas */
    /* grid: repeat(3, 1fr) / repeat(4, 1fr); */
    /* 2. Colocacion de los elementos grid en la celda definida */
    /* Se indica en los elementos */
    /*ALINEACIÓN  */
    /* Justify-items: center/start/end/stretch; Alineación en horizontal */
    /* align-items: ; Alineación en vertical*/
    /* Para los HIJOS: */
    /* justify-self: ; Alineación en horizontal */
    /* align-self: ; Alineación en vertical  */

}
.item{
    border: 2px solid black;
    /* height: 100px; */
    /* width: 100px; */
    font-size: 2rem;
    font-weight: 700;
    padding: 10px;
    line-height: 80px;
    text-align: center;

}
.item1{
    background-color: chartreuse;
    /* grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 1 ;
    grid-row-end: 2; */
    /* Es lo mismo pero mas corto */
    grid-column: 1/5;
    grid-row: 1/2;
    /*Más corto aún  */
    /* grid-area: 1/1/2/5; */
}
.item2{
    background-color: red;
    grid-column: 1/2;
    grid-row: 2/6;
}
.item3{
    background-color: aqua;
    grid-column: 2/5;
    grid-row: 2/5;
}
.item4{
    background-color: purple;
    grid-column: 2/5;
    grid-row: 5/6;
}