*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.container{
    outline: 2px solid darkcyan;
    margin: 100 auto;
    height: 600px;
    width: 800px; padding: 5px;
}
.element{
    margin-top: 20px;
    background-color: chartreuse;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 2rem;
    color: white;
    font-weight: 900;;
}

/* TRANSLATE */
.translate{
    /* transform: translate(300px, 100px); */
    transform: translate(0px, 0px);
    transition: transform 2s;
}
/* TRIGGERS PARA LAS TRANSICIONES */
.container:hover .translate{
    /* Estado final */
    transform: translate(300px, 100px);
}
.rotate{
    transform: rotate(0deg);
    transition: 3s; 
}
.container:hover .rotate{
    /* Estado final */
    transform: rotate(-2turn);
    /* transform-origin: top left; chincheta arriba a la izquierda*/
}
.mixed{
    transition: transform 2s 1s;
}
.container:hover .mixed{
    /* Estado final */
    transform: translate(400px, -200px) rotate(360deg);
}
.scale{
transform: scale(50%);
transition: 2s;
}
.container:hover .scale{
    /* Estado final */
    transform: scale(200%);
    background-color: red;
}
.skew{
    transform: skew(25deg, 25deg);
}