body {
     background-color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.barra-navegacion {
    display: inline-flex;
 background-color: black;
    padding: 5px;
    gap: 5px;
    margin-bottom: 30px;
}

.boton-nav {
    background-color: black;
    color: white;
border: none;
padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-nav:hover {
    background-color: white;
    color: black;
}

.boton-premium {
   background: linear-gradient(to top right, #9370DB, #87CEEB);
    color: white;
    font-weight: bold;
 border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-top: 20px;
    border-radius: 30px;
}

.boton-premium:hover{
transform: translateY(-5px);  
}
.boton-premium:active {
transform: translateY(0px);
transition: 0.1s;
}