*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: sans-serif;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.container{
    margin-top: 100px;
    margin-left: 100px;
    height: 600px;
    width: 90%;
    background-color: red;
    overflow: hidden;
}
.element{
    height: 450px;
    width: 450px;
    display: flex;
    transition: 4s cubic-bezier(0.77, 1, 0.175, 1);
    transform: translate(0px, -100px); 
}
.container:hover .element{
    /* Estado final */
    transform: translate(0px, 0px);

}
