// Este archivo es un partial: será incluido en otro
// No se compila y debe de empezar por guión bajo
$body-color: rgb(109, 109, 109)!default;
$h1-color: rgb(0, 26, 255);
$h1-size:3.4rem;
$body-font-size: 2rem;
