//BEM(BLOQUE ELEMENTO MODIFICADOR)
$main_color: cadetblue;
$secondary_color: chocolate;

.card{
    border: 2px solid $secondary_color;
    color: $main_color;
    //Más propiedades de la card
    &--grid{
        display: grid;
        //etc.
    }
    &__title{
        font-size: 3rem;
        text-align: center;
    }
    &__img{
        display: block;
        width: 100%;
        //etc.
    }
    &__button{
        border: 1px;
        border-radius: 5px;
        color: $secondary_color;
        padding: 1rem;
        //etc
        &--tomato{
            color: tomato;
        }
        &--lime{
            color: lime;
        }
    }
}