    /* - Café oscuro: #5e311e
  - Café claro: #ebe7de
  - Hover barra navegación: #c39c63
  - Gris claro: #eceeef
  - Blanco: #ffffff
  - Negro: #000000 */

  
  
  @font-face {
    font-family: 'Titulares';
    src: url('../control_grid/assets/Raleway-Regular.ttf');
 }
 @font-face {
    font-family: 'Párrafos';
    src: url('../control_grid/assets/Roboto-Regular.ttf');
 }
  @font-face {
    font-family: 'Bona nova';
    src: url('../control_grid/assets/BonaNova-Regular.ttf');
 }
 * {
    --Caféoscuro-color:#5e311e;
    --Caféclaro-color:#ebe7de;
    --barra-color:#c39c63;
    --gris-color:#eceeef;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width:100%;
    display: block;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--Caféclaro-color);
}
.header{
    filter: brightness(1);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 60px;
    filter: brightness(1);
}
.header2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-image: url(assets/hero.jpg);
    width: 100%;
}
.header__img{
    padding-top: 30px;
    max-width:50%;
}
.header__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Titulares';
    font-weight: bold;
}
.header__container{
    width: 90%;
}
.header__h1{
    font-size: 4rem;
    color: white;
    font-family: 'Titulares';
    text-align: center;
    padding-bottom: 100px;
}
.container{
padding-bottom: 40px;
padding-top: 40px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
width: 95%;
background-color: white;
}
.container__div{
padding-bottom: 40px;
padding-top: 40px;
display: flex;
flex-direction: column;
gap: 10px;
align-items: center;
width: 95%;
background-color: white;
}
.container__div__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container__h3{
font-size: 1.6rem;
font-family: 'Titulares';
color: var(--barra-color);
}
.container__p{
    font-size: 1.6rem;
    font-family: Párrafos;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.container__h2__titular{
font-size: 3.2rem;
font-family: 'Titulares';
color: var(--Caféoscuro-color);
}
.container__h2__info{
font-size: 3.2rem;
font-family: 'Bona nova';
font-style: none;
color: var(--Caféoscuro-color);
margin-bottom: 20px;
}
.container__img1{
    width: 10rem;
    margin-bottom: 30px;
}
.container__img2{
    width: 15rem;
}
.galeria{
    padding: 2rem;
    background-color: white;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 15rem);
    gap: 2rem;
}
.galeria__img1{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%
}
.container__comentario{
    background-color: var(--Caféclaro-color);
    width: 90%;
    border-radius: 10px;
    padding: 2rem;
}
.container__comentario__h3{
    font-size: 2rem;
    font-family: 'Bona nova';
    font-style: none;
    text-align: end;
    padding-right: 1rem;
    padding-bottom: 1rem;
}
.footer{
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 95%;
    background-color: white;   
}
.footer__h3{
    font-size: 3.2rem;
    font-size: 3.2rem;
    font-family: 'Bona nova';
    font-style: none;
    color: var(--barra-color);
}
.footer__p{
    font-family: 'Párrafos';
    font-size: 1.6rem;
}
.footer__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
@media screen and (min-width: 768px) {
    .header{
        flex-direction: row;
        gap: 30rem;
    }
    .container__div{
        flex-direction: row;
    }
    .container__div{
        flex-direction: row;
        justify-content: space-around;
        padding-left: 5rem;
        padding-right: 5rem;
        
    }
    .footer{
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .galeria{
    padding: 2rem;
    background-color: white;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 5fr);
    gap: 2rem;
    }
    .primer{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .seg{
        grid-column: 2/4;
        grid-row:1/2;
    }
    .ter{
        grid-column: 1/2;
        grid-row:3/5;
    }
    .cuar{
        grid-column: 1/3;
        grid-row:5/6;
    }
    .quin{
        grid-column: 3/5;
        grid-row:5/6;
    }
    .sept{
        grid-column: 2/5;
        grid-row:4/5;
    }
    /* .oct{
        grid-column: 4/6;
        grid-row:3/4;
    }
    .nov{
        grid-column: 4/6;
        grid-row:2/4;
    } */
    .seg{
        grid-column: 2/4;
        grid-row:1/2;
    }

}