*{
    margin: 0,0,0,0;
    padding: 0, 0, 0, 0;
}
body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}
.contact{
    display: flex;
    align-self: center;
    padding: 10px 10px 10px 10px;
    flex-basis: 80vh;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
     justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
.contact__form{
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    align-content: center;  
    flex-basis: 100%;
}
.contact__legend{
    width:100%;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.contact__field{
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    width: fit-content;
    text-align: center;
}
.contact__input{
    height: 30px;
}
.contact__btn{
    width: 80%;
}
