*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100vh;
}
header{
    padding: 20px;
    grid-column: 1/4;
    grid-row: 1/2;
    color: white;
    background-color: rgb(103, 103, 255);
}
.nav1{
    padding: 20px;
    grid-column: 2/4;
    grid-row: 2/3;
    color: white;
    background-color: rgb(255, 159, 80);
}
.nav2{
    padding: 20px;
    grid-row: 2/4;
    grid-column: 1/2;
    color: white;
    background-color: rgb(0, 195, 146);
}
main{
    padding: 20px;
    grid-row: 3/4;
    grid-column: 2/3;
    color: white;
    background-color: red;
}
aside{
    padding: 20px;
    grid-column: 3/4;
    grid-row: 3/5;
    color: white;
    background-color: rgb(1, 1, 125);
}
footer{
    padding: 20px;
    grid-row: 4/5;
    grid-column: 1/3;
    color: white;
    background-color: rgb(127, 0, 127);
}
@media screen and (max-width: 768px) {
    .container{
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
         gap: 0;
    }
    header{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .nav1{
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .nav2{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    main{
        grid-row: 4/5;
        grid-column: 1/4;
    }
    aside{
        grid-row: 5/6;
        grid-column: 1/4;
    }
    footer{
        grid-row: 6/7;
        grid-column: 1/4;
    }
}