body{
    background: linear-gradient(100deg, white 60%, rgb(76, 0, 255) 40%);
    padding-left: 50px;
    padding-right: 50px;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    gap: 200px;
}
form{
    display: grid;
    grid-column: 1/2;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    gap: 40px;
    justify-self: center;
    align-self: center;
    width: 80%;
}
input{
    width: 100%;
    box-sizing: border-box;
    height: 80px;
    border-color: black;
    font-size: large;
}
.mensaje{
 height: 200px;  
 padding-bottom: 150px; 
}
img{
    width: 100%;
}
section{
grid-column: 2/3;
display: flex;
}
h1{
    font-size: 80px;
}
button{
    height: 80px;
    width: 250px;
    background-color: rgb(76, 0, 255);
    color: white;
    border-radius: 10px;
    border-color: rgb(78, 78, 254);
    font-weight: bold;
    font-size: large;
}