body{
    background: linear-gradient(100deg, white 65%, rgb(76, 0, 255) 35%);
    padding-left: 50px;
    padding-right: 50px;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    gap: 100px;
}
form{
    display: grid;
    grid-column: 1/2;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    gap: 20px;
    justify-self: center;
    align-self: center;
    width: 100%;
}
input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-color: black;
}
.mensaje{
 height: 100px;  
 padding-bottom: 70px; 
}
img{
    width: 100%;
}
section{
grid-column: 2/3;
display: flex;
}
button{
    height: 40px;
    width: 140px;
    background-color: rgb(76, 0, 255);
    color: white;
    border-radius: 5px;
    border-color: rgb(78, 78, 254);
}