.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, white 65%, rgb(76, 0, 255) 35%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
}
form{
    display:flex;
    flex-direction: column;
}
input{
margin-bottom: 20px;
width: max-content;
height: ;
}
section{

}