*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.container{
display: grid;
grid-template-rows: 1fr 10fr 1fr;
grid-template-columns: 1fr 10fr 1fr;
height: 100vh;
width: 100%;
}
.header{
    font-size: larger;
    background-color: rgb(253, 253, 207);
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 10px;
    text-align: center;
    display: grid;
}
h3{
    align-self: center;
}
main{
    padding: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
}
p{
    margin-bottom: 10px;
}
.navigation{
    background-color: rgb(255, 213, 213);
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
}
.sidebar{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 10px;
    background-color: rgb(200, 208, 251);
}
.footer{
    display: grid;
    font-size: larger;
    background-color: rgb(132, 132, 132);
    grid-column: 1/4;
    grid-row: 3/4;
    padding: 10px;
    text-align: center;

}
a{
    margin-top: 10px;
    width: fit-content;
}
@media screen and (max-width: 600px) {
    .container{
        display: grid;
        grid-template-rows: 1fr 10fr 2fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .footer{
        grid-row: 5/6;
        grid-column: 1/4;
    }
    .header{
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .navigation{
        grid-row: 4/5;
        grid-column: 1/4;
    }
    .sidebar{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .main{
        grid-row: 2/3;
        grid-column: 1/4;
    }
}