/* Hace las imagenes responsive*/
/* img{
max-with:100%;
display: block;
} */
 @font-face {
    font-family: '';
    src: url('../fuentes/loquesea');
 }


*{
    margin: 0;
}
body{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:center;
    background-color: azure;
}
.precontainer{
    justify-content:center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.container{
    gap: 20px;
    justify-content: center;
    height: auto;
    width: 90%;
    max-width: 1200px;
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 350px;
}
    .item{
    background-color: rgb(83, 144, 144);
    }
img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}